<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="eventPublisher" class="com.vicutu.event.impl.EventPublisherImpl"/>
		
	<bean id="optionListCacheChangedEventListener" class="com.mindstatus.listener.OptionListCacheChangedEventListener">
		<property name="optionListCache">
			<ref bean="optionListCache" />
		</property>
	</bean>
	
</beans>
